@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
	
	body {
		margin: 0;
	}
	
	.background-section {

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.covering-section {
		min-height: 300px;
		background-color: ;
		padding: 0;
	}
	
	.heading {
		position: absolute;
		top: 20%;
		left: 35%;
		font-size: 120px;
		color: 8ABD5F;
		text-decoration: underline;
	}

		
	#links {
		float: left;
		width: 100%;
		height: 9%;
		background-color: 609732;
		position: fixed;
	}
	
	#first-photo {
		float: left;
		width: 100%;
		height: 80%;
		background-color: 609732;
	}
	
	
	#heading-text {
		float: left;
		width: 100%;
		height: 20%;
		background-color: 609732;
	}
	
	#carousel {
		float: left;
		width: 100%;
		height: 70%;
		background-color: 609732;
	}
	
	#main-text {
		float: left;
		width: 100%;
		height: 30%;
		background-color: 609732;
	}
	
	#side-by-side {
		float: left;
		width: 100%;
		height: 60%;
	}
	
	#left-side {
		float: left;
		width: 50%;
		height: 100%;
		background-color: 609732;
		background-image: url('reviews.jpg');
	}
	
	#right-side {
		float: right;
		width: 50%;
		height: 100%;
		background-color: 8ABD5F;
	}
	
	#second-photo {
		float: left;
		width: 100%;
		height: 40%;
		background-color: 609732;
		background-image: url('bottomfront.jpg');
	}
	
	#contact {
		float: left;
		width: 100%;
		height: 20%;
		background-color: 609732;
	}
	
	h1 {
		font-family: 'Ramaraja';
		text-align: center;
		font-size: 50px;
		color: 5c0709;
	}
	
	h2 {
		font-family: 'Quicksand';
		text-align: center;
		color: eabab4;
	}
	
	h3 {
		color: eabab4;
	}
	
	p {
		color: eabab4;
	}
	
	li {
		color: eabab4;
	}
	
	