@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
	
	body {
		margin: 0;
	}
	
	.background-section {

		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.covering-section {
		min-height: 300px;
		background-color: ;
		padding: 0;
	}
	
	.heading {
		position: absolute;
		top: 20%;
		left: 35%;
		font-size: 120px;
	}

		
	#links {
		float: left;
		width: 100%;
		height: 9%;
		background-color: pink;
		position: fixed;
	}
	
	#first-photo {
		float: left;
		width: 100%;
		height: 80%;
		background-color: green;
	}
	
	
	#heading-text {
		float: left;
		width: 100%;
		height: 20%;
		background-color: aqua;
	}
	
	#carousel {
		float: left;
		width: 100%;
		height: 70%;
		background-color: red;
	}
	
	#main-text {
		float: left;
		width: 100%;
		height: 30%;
		background-color: yellow;
	}
	
	#side-by-side {
		float: left;
		width: 100%;
		height: 60%;
	}
	
	#left-side {
		float: left;
		width: 50%;
		height: 100%;
		background-color: orange;
		background-image: url('reviews.jpg');
	}
	
	#right-side {
		float: right;
		width: 50%;
		height: 100%;
		background-color: brown;
	}
	
	#second-photo {
		float: left;
		width: 100%;
		height: 40%;
		background-color: blue;
		background-image: url('bottomfront.jpg');
	}
	
	#contact {
		float: left;
		width: 100%;
		height: 20%;
		background-color: purple;
	}
	
	h1 {
		font-family: 'Ramaraja';
	}
	
	h2 {
		font-family: 'Quicksand';
	}
	
	h3 {
	}
	
	p {
	}
	
	li {
	}
	
	